Winsoft.Web/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfBusinessServiceLibrary/WorkAttendanceInfoService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessModel" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessModel" minOccurs="0" name="info" nillable="true" type="q1:WorkAttendanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessModel" minOccurs="0" name="info" nillable="true" type="q2:WorkAttendanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessModel" minOccurs="0" name="info" nillable="true" type="q3:WorkAttendanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessModel" minOccurs="0" name="info" nillable="true" type="q4:WorkAttendanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessModel" minOccurs="0" name="SelectResult" nillable="true" type="q5:ArrayOfWorkAttendanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkAttendanceInfoByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessModel" minOccurs="0" name="model" nillable="true" type="q6:StatisticsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkAttendanceInfoByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessModel" minOccurs="0" name="GetWorkAttendanceInfoByTimeResult" nillable="true" type="q7:ArrayOfWorkAttendanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>