Winsoft.Web/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkAttendanceInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AbsenceCount" type="xs:double" />
          <xs:element minOccurs="0" name="AbsenceTime" type="xs:double" />
          <xs:element minOccurs="0" name="AffairLeaveCount" type="xs:double" />
          <xs:element minOccurs="0" name="AffairLeaveTime" type="xs:double" />
          <xs:element minOccurs="0" name="AnnualleaveCount" type="xs:double" />
          <xs:element minOccurs="0" name="AnnualleaveTime" type="xs:double" />
          <xs:element minOccurs="0" name="BelateCount" type="xs:double" />
          <xs:element minOccurs="0" name="BelateTime" type="xs:double" />
          <xs:element minOccurs="0" name="BussinessstripTime" type="xs:double" />
          <xs:element minOccurs="0" name="CommonWorkTime" type="xs:double" />
          <xs:element minOccurs="0" name="DataEndTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataStartTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsFullTime" type="xs:boolean" />
          <xs:element minOccurs="0" name="LeaveTotalTime" type="xs:double" />
          <xs:element minOccurs="0" name="LeftAnnualleaveTime" type="xs:double" />
          <xs:element minOccurs="0" name="LeftearlyCount" type="xs:double" />
          <xs:element minOccurs="0" name="LeftearlyTime" type="xs:double" />
          <xs:element minOccurs="0" name="OvertimeTime" type="xs:double" />
          <xs:element minOccurs="0" name="RealOvertimeTime" type="xs:double" />
          <xs:element minOccurs="0" name="RealWorkTime" type="xs:double" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondOvertimeTime" type="xs:double" />
          <xs:element minOccurs="0" name="SickleaveCount" type="xs:double" />
          <xs:element minOccurs="0" name="SickleaveTime" type="xs:double" />
          <xs:element minOccurs="0" name="StaffCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StaffName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkAttendanceInfo" nillable="true" type="tns:WorkAttendanceInfo" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderbyColomnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrderbyColomnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfWorkAttendanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkAttendanceInfo" nillable="true" type="tns:WorkAttendanceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkAttendanceInfo" nillable="true" type="tns:ArrayOfWorkAttendanceInfo" />
  <xs:complexType name="StatisticsModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmState" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewState" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="StatisticsEndtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StatisticsStarttime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatisticsModel" nillable="true" type="tns:StatisticsModel" />
</xs:schema>