Winsoft.Web/Service References/ServiceReference1/WorkAttendanceInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkAttendanceInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfBusinessServiceLibrary/WorkAttendanceInfoService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfBusinessServiceLibrary/WorkAttendanceInfoService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfBusinessServiceLibrary/WorkAttendanceInfoService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkAttendanceInfoService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_GetWorkAttendanceInfoByTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkAttendanceInfoByTime" />
  </wsdl:message>
  <wsdl:message name="IWorkAttendanceInfoService_GetWorkAttendanceInfoByTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkAttendanceInfoByTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkAttendanceInfoService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/Add" message="tns:IWorkAttendanceInfoService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/AddResponse" message="tns:IWorkAttendanceInfoService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/Update" message="tns:IWorkAttendanceInfoService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/UpdateResponse" message="tns:IWorkAttendanceInfoService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/Delete" message="tns:IWorkAttendanceInfoService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/DeleteResponse" message="tns:IWorkAttendanceInfoService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/Select" message="tns:IWorkAttendanceInfoService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/SelectResponse" message="tns:IWorkAttendanceInfoService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkAttendanceInfoByTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/GetWorkAttendanceInfoByTime" message="tns:IWorkAttendanceInfoService_GetWorkAttendanceInfoByTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkAttendanceInfoService/GetWorkAttendanceInfoByTimeResponse" message="tns:IWorkAttendanceInfoService_GetWorkAttendanceInfoByTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkAttendanceInfoService" type="tns:IWorkAttendanceInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IWorkAttendanceInfoService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IWorkAttendanceInfoService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IWorkAttendanceInfoService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IWorkAttendanceInfoService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkAttendanceInfoByTime">
      <soap:operation soapAction="http://tempuri.org/IWorkAttendanceInfoService/GetWorkAttendanceInfoByTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkAttendanceInfoService">
    <wsdl:port name="BasicHttpBinding_IWorkAttendanceInfoService" binding="tns:BasicHttpBinding_IWorkAttendanceInfoService">
      <soap:address location="http://localhost/WcfBusinessServiceLibrary/WorkAttendanceInfoService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>